<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- BACK BUTTON -->
    <ion-buttons *ngIf="showBack" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- TITLE -->
    <ion-title slot="start">{{ title }}</ion-title>
    <!-- RATING RANGE -->
    <app-range *ngIf="showRange" slot="end"></app-range>
    <!-- ORDER BY RATING -->
    <ion-select
      *ngIf="showOrderTo"
      slot="end"
      placeholder="Visualizza Film"
      
 
    >
      <ion-select-option value="desc">dal più apprezzato</ion-select-option>
      <ion-select-option value="asc">dal meno apprezzato</ion-select-option>
    </ion-select>
    <!-- CREATE BUTTON -->
    <ion-fab-button
      *ngIf="showAdd"
      size="small"
      slot="end"
      (click)="clickItemCreate()"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
  <ion-toolbar>
    <!-- SEARCHBAR -->
    <form [formGroup]="formSearch">
      <ion-searchbar
        formControlName="research"
        type="string"
        [debounce]="500"
      ></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>
