<ion-content fullscreen="true" slot="fixed" scroll-y="false">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../../../assets/profile_image.jpg" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="username">Sara Gattagrisi<ion-icon slot="icon-only" src="../../../../assets/checkmark-filled.svg"></ion-icon></h3>
        <h5 class="country">Bari, Italia</h5>
        <h6 class="Job">Full Stack developer</h6>
      </div>

      <ion-button expand="full" color="primary" href="https://github.com/Saracat94"><ion-icon
          name="logo-github"></ion-icon>Visita il mio GitHub</ion-button>
      <ion-button expand="full" color="secondary"><ion-icon name="logo-instagram"></ion-icon>il mio profilo
        Instagram</ion-button>
      <ion-button expand="full" color="secondary" href=""><ion-icon name="film-outline"></ion-icon>Lista dei miei film
        preferiti</ion-button>

    </div>
  </div>
</ion-content>