<ion-header [translucent]="true">
    <app-header
  [title] = "titlePage"
  [showAdd] = "false"
  [showBack] = "true"
  ></app-header>
    <form *ngIf="formUser" [formGroup]="formUser" (ngSubmit)="submitForm()">
        <ion-list>
            <ion-item>
                <ion-input label="Titolo:" formControlName="title" placeholder="{{movie?.title}}" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Anno di uscita:" formControlName="year" placeholder="{{movie?.year}}" type="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Durata:" formControlName="runningTime" placeholder="{{movie?.runningTime}}" type="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Genere:" formControlName="genres" placeholder="{{movie?.genres}}" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-button type="submit" expand="block" [disabled]="!formUser.valid">Salva</ion-button>
            </ion-item>
        </ion-list>
    </form>
</ion-header>