<ion-header [translucent]="true">
  <app-header
    [title]="titlePage"
    [showAdd]="true"
    [showBack]="false"
    [showRange]="true"
    [showOrderTo]="true"
    (addEvent)="clickItemCreate()"
    (searchInput)="searchInput($event)"
    (orderChange)="orderByRating($event)"
    (ionChange)="ratingRange($event)"
  ></app-header>
  <ion-content [fullscreen]="true">
    <app-list
      [items_list]="movie_list  | sortByRating: orderTo"
      (clickItem)="clickItem($event)"
      (clickItemEdit)="clickItemEdit($event)"
      (clickItemRemove)="clickItemRemove($event)"
    ></app-list> </ion-content
></ion-header>
